{% extends "flights/base2.html" %}

{% block head %} 
<style>
    .links1 {
            margin-bottom: 5px;
        }
        .links1 a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            /* font-size: large; */
            padding-right: 20px;
        }
        
        #flexbox {
            border-top: 1px solid gray;
            background-color: white;
            padding: 5px;
            display: flex;
            width: 100%;
        }
        
        .links1 {
            flex: 1;
        }
    #big-container {
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 2%;
    }
    #heading-big-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        border-radius: 10px;
        background-color: black;
        color: white;
    }
    .inner-container {
        border-radius: 10px;
        display: flex;
        background-color: white;
        padding: 10px;
        margin-top: 1%;
    }
    .inner-container img {
        width: 50%;
        height: 30%
    }   
    .inner-container div {
        padding: 10px;
        width: 50%;
        text-align: center;
    }   
    .inner-container div h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>
{% endblock %}

{% block div %}
    <div id="flexbox">
        <div class="links1">
            <a href="#" class="btn btn-dark">Book Flight</a>
            <a href="#" class="btn btn-dark">Check Your Flight</a>
            <a href="#" class="btn btn-dark">Airlines</a>
            <a href="#" class="btn btn-dark">Help</a>
            <a href="#" class="btn btn-dark">About</a>
        </div>

        <div id="search-bar">
            <input type="text" placeholder="Search">
            <input type="button" value="⌕">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% load static %}
<div id="big-container">
    <div id="heading-big-container">
        <h1>Most Booked Places around the world!</h1>
    </div>
    <div class="inner-container">
        <image src="{% static 'images/paris.jfif' %}">
            <div>
                <h1>Paris</h1><br>
                <p>Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.</p>
                <br><button class="btn btn-dark">BookFlight</button>
            </div>
    </div>
    <div class="inner-container">
        <div>
            <h1>New York</h1><br>
            <p>New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.</p>
            <br><button class="btn btn-dark">BookFlight</button>
        </div>
        <image src="{% static 'images/newyork.jpg' %}">
    </div>
    <div class="inner-container">
        <image src="{% static 'images/mumbai.jpg' %}">
            <div>
                <h1>Mumbai</h1><br>
                <p>Mumbai (formerly called Bombay) is a densely populated city on India’s west coast. A financial center, it's India's largest city. On the Mumbai Harbour waterfront stands the iconic Gateway of India stone arch, built by the British Raj in 1924. Offshore, nearby Elephanta Island holds ancient cave temples dedicated to the Hindu god Shiva. The city's also famous as the heart of the Bollywood film industry.</p>
                <br><button class="btn btn-dark">BookFlight</button>
            </div>
    </div>
</div>

{% endblock %}