{% extends "flights/base.html" %} {% block head %}
<style>
    h3 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .links1 {
        margin-bottom: 5px;
    }
    
    .links1 a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        color: black;
        padding-right: 20px;
    }
    
    #flexbox {
        display: flex;
        width: 100%;
    }
    
    .links1 {
        flex: 1;
    }
    
    .form-container1 {
        margin-top: 3%;
        margin-left: 20%;
        margin-right: 20%;
        padding: 3px;
        border-radius: 20px;
        background-color: white;
        color: black;
    }
    
    #first-part-form-conainer {
        text-align: center;
        border-radius: 20px;
        background-color: burlywood;
    }
    
    #second-part-form-container {
        padding: 5px;
        text-align: center;
    }
    
    #airlines-div {
        border-radius: 10px;
        padding: 5px;
        margin-top: 3%;
        background-color: white;
        color: black;
    }
    
    #airlines-div img {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }
    
    #airline-image-div {
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 1%;
        display: flex;
        justify-content: space-between;
    }
    
    #questions-div {
        border-radius: 10px;
        padding: 5px;
        background-color: white;
        color: black;
    }
    
    #questions-div div {
        padding-left: 10px;
    }
    
    #about_us {
        text-align: center;
        color: gray;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #about_us h3 {
        color: black;
    }
    
    #button-top {
        float: right;
    }
</style>
{% endblock %} {% block div %}


<div id="flexbox">
    <div class="links1">
        <a href="#">Book</a>
        <a href="#">Flights</a>
        <a href="#">Airlines</a>
        <a href="#">Help</a>
        <a href="#">About</a>
    </div>

    <div id="search-bar">
        <input type="text" placeholder="Search">
        <input type="submit" value="⌕">
    </div>
</div>
{% endblock %} {% block content %}
<div class="form-container1">

    <div id="first-part-form-conainer">
        <input type="radio" style="height: 20px;width: 20px;" id="one_way_radio" onclick="One_way_Div();" />
        <label style="font-size: x-large;"> One-way</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" style="height: 20px;width: 20px;" id="two_way_radio" onclick="two_way_Div();" />
        <label style="font-size: x-large;"> Round-trip </label>
    </div>

    <div id="second-part-form-container">
        <div id="one_way" style="display: block;">
            <hr>
            <form>
                <label>From:</label>
                <input list="airports" name="starting" id="starting" placeholder="Starting">
                <label>To:</label>
                <input list="airports" name="destination" id="destination" placeholder="Destination">
                <datalist id="airports">
                        <option value="Edge">
                    </datalist>
                <br>
                <input type="date">
                <br>
                <br>
                <button class="btn btn-dark">Find</button>
            </form>
        </div>
        <div id="two_way" style="display: none;">
            <hr>
            <form>
                <label>From:</label>
                <input list="airports" name="starting" id="starting" placeholder="Starting">
                <label>To:</label>
                <input list="airports" name="destination" id="destination" placeholder="Destination">
                <datalist id="airports">
                        <option value="Edge">
                    </datalist>
                <br>
                <label>Departure</label>
                <input type="date">
                <label style="padding-right: 1px;">Return</label>
                <input type="date">
                <br>
                <br>
                <button class="btn btn-dark">Find</button>
            </form>
        </div>
    </div>

</div>
{% load static %}
<div id="footer">


    <div id="airlines-div">
        <h3>Popular Flights</h3>
        <div id="airline-image-div">
            <a href="#"><img id="image1" src="{% static 'images/indigo.png' %}" alt="IndiGo"></a>
            <a href="#"><img id="image2" src="{% static 'images/airindia.png' %}" alt="Air India"></a>
            <a href="#"><img id="image2" src="{% static 'images/airindiaexpress.webp' %}" alt="Air India Express"></a>
            <a href="#"><img id="image2" src="{% static 'images/akasaair.png' %}" alt="Akasa Air"></a>
            <a href="#"><img id="image2" src="{% static 'images/vistara.png' %}" alt="Vistara"></a>
            <a href="#"><img id="image2" src="{% static 'images/spicejet.png' %}" alt="SpiceJet"></a>
        </div>
    </div>

    <div id="questions-div">
        <h3>Frequently Asked Questions</h3>
        <hr>
        <div>
            <b>How do I book cheap flight Tickets</b>
            <br>
            <p>Here's how you can book cheap flight tickets</p>
            <ul>
                <li>Book your flights from ixigo in advance to get the cheapest deals.</li>
                <li>Be flexible, and consider flying during off-peak hours to get cheaper flight tickets.</li>
                <li>ixigo's fare alerts feature sends you notifications when the air ticket price on your route gets cheap.</li>
                <li>If you have time, try stopover flights as flights with multiple stops are often cheaper.</li>
                <li>Avoid traveling on weekends, as air tickets are usually higher during this time.</li>
                <li>Try budget airlines like Indigo, Air India to book cheap flight tickets.</li>
            </ul>
        </div>
        <div>
            <b>How is this working?</b>
            <br>
            <p>Because it is made by chirag</p>
        </div>
    </div>
    <div id="about_us">
        <h3>About us</h3>
        <i><p>This is a Flight booking demo app with the functionality of virtual flight booking giving vibe of real booking of the flight as in ixigo, makemytrip etc. <br>Built by me i.e. chirag, used datbase , user authentication and two database models.</p></i>
        <p style="font-size: small;">All rights reserved</p>

    </div>

</div>

{% endblock %}